/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

@import url("https://unpkg.com/aos@2.3.0/dist/aos.css");
/* colors */
$color-1: #5ce1e6;
$color-2: #ffce3a;
$color-3: #b079ff;
$color-4: #1B3B6F;
$color-5: #0C1B33;
$color-6: #F8F7F9;
$color-7: #F03A47;